
<% points.each do |point| %>
<div class="atridi">
	<div class="einkunn"><img src="/images/Gefa_einkunn.png" alt="" /></div>
	<div class="facebook"><img src="/images/Facebook.png" alt="" /></div>
	<p><%= point.name %></p>
</div>
<% end %>
