<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Skuggaþing - IceSave</title>
<link href="/stylesheets/utlit.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/umbrot.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="Haus" class="container_12">
  <div class="grid_4 ">
    <h1><img src="/images/skuggathing.png" width="310" height="79" alt="Skuggaþing" /></h1>
  </div>
  <div id="Nafn" class="grid_5">

    <h2>Sérútgáfa vegna þjóðaratkvæðagreiðslu um IceSave</h2>
  </div>
  <div id="VinstriUppi" class="grid_3 ">
    <p><a href="#">Innskráning</a> <span class="letur">a A</span></p>
    <p><a href="#">Deila með öðrum</a></p>
    <p>

      <input name="Leita" type="text"/>
      <input type="submit" name="button" id="button" value="Leita" />
    </p>
  </div>
</div>
<div id="Nedrihaus" class="container_12">
  <div id="" class="grid_6 frumvarpid">
    <div class="Undirhaus ">
      <h3>Spurningin</h3>

      <p class="Nedan_linu"><a href="http://skuggathing.is/cases/420">Frumvarp um þjóðaratkvæðagreiðslur</a></p>
    </div>
    <p>„Lög nr. 1/2010 kveða á um breytingu á lögum nr. 96/2009, um heimild til handa fjármálaráðherra, fyrir hönd ríkissjóðs, til að ábyrgjast lán Tryggingarsjóðs innstæðueigenda og fjárfesta frá breska og hollenska ríkinu til að standa straum af greiðslum til innstæðueigenda hjá Landsbanka Íslands hf. Alþingi samþykkti lög nr. 1/2010 en forseti synjaði þeim staðfestingar. Eiga lög nr. 1/2010 að halda gildi?“ </p>
  </div>
  <div id="haegri" class="grid_6 frumvarpid">
    <div class="Undirhaus">
      <h3>Ríkisábyrgð á IceSave</h3>

      <p class="Nedan_linu"><a href="http://skuggathing.is/cases/311">Frumvarp um ríkisábyrgð</a></p>
    </div>
    <p> Frumvarp til laga 
      um breytingu á lögum nr. 96/2009, um heimild til handa fjármálaráðherra, fyrir hönd ríkissjóðs, til að ábyrgjast lán Tryggingarsjóðs innstæðueigenda og fjárfesta frá breska og hollenska ríkinu til að standa straum af greiðslum til innstæðueigenda hjá Landsbanka Íslands hf. </p>
  </div>

<%= yield %>

  <div id="Nei" class="container_12">

    <div id="" class="grid_12">
      <p><a href="#">Ná í grunnkóða</a> | <a href="#">skuggathing@skuggathing.is</a> | <a href="#">Um Skuggaþing</a> </p>
    </div>
  </div>
</div>

</body>
</html>